<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Airplanes</title>
</head>
<body>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Altitude</th>
    </tr>
    </thead>
  <tbody>
    <tr th:each="airplane:${airplanes}">
      <td><span th:text="${airplane.name}">Name</span></td>
      <td><span th:text="${airplane.latitude}">Latitude</span></td>
      <td><span th:text="${airplane.longitude}">Longitude</span></td>
      <td><span th:text="${airplane.altitude}">Altitude</span></td>
    </tr>
  </tbody>
</table>


</body>
</html>